@font-face {
    font-family: 'Montserrat'; 
    src: url('../Montserrat font/Montserrat-VariableFont_wght.ttf');
}

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #eee1d0;
    margin: 0;
    padding: 0;
    color: #373234;
}

.company-logo {
    display: flex;
    justify-content: center; 
}
.company-logo img {
    width: 300px;
    height: auto;
    text-align: center;
}

.form-container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    text-align: center;
    color: #373234;
    font-size: 24px;
    margin: 20px 0;
}

label {
    display: block;
    font-weight: 600;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"], input[type="email"],
select,
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    padding-right: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    width: 100%;
    padding: 12px;
    background-color: #d84339;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #af372e;
}

.applicant-container {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    margin-bottom: 20px; /* Adjusted for spacing consistency */
}

.applicants-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
    border-radius: 8px;
}

.applicants-table th, .applicants-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.applicants-table th {
    background-color: #f4f4f4; /* Light, neutral tone */
}

.alert {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.search-container {

    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    font-family: 'Montserrat'; 
    width: 350px;
    padding: 10px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-button {
    font-family: 'Montserrat'; 
    padding: 10px 12px;
    margin-bottom: 14px;
    background-color: #d84339;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #af372e;
}
