@font-face {
    font-family: 'Montserrat'; 
    src: url('../Montserrat font/Montserrat-VariableFont_wght.ttf');
  }

body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #f3ece4;
    margin: 0;
    padding: 0;
    color:#373234;
}

.company-logo{
    display: flex;
    justify-content: center; 
}
.company-logo img {
    width: 300px;
    height: auto;
    text-align: center;
    
}
.form-container {
    width: 50%;
    margin: 50px auto;
    padding: 24px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    text-align: center;
    color: #373234;
    font-size: 24px;
    margin-bottom: 50px;
}

label {
    margin-bottom: 8px;
    font-weight:600;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}



input[type="email"], input[type="password"] 
{
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-right: 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox {
    padding: 10px;
    display: block;
    /* text-align: center; */
    font-size: 14px;    
}
.checkbox-inline {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

.btn {
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;

}

.btn.submitBtn {
    border: none;
    background-color: #d84339;
    color: #ffffff;
}

.btn.submitBtn:hover {
    background-color:#af372e;
}

.btn.signUp {
    width: 100%;
    padding: 12px;
    border-radius: 7px;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif; 
    cursor: pointer;
    background-color: #ffffff;
    color:#d84339;
    border: 2px solid #d84339;
}

.btn.createAcc:hover {
    background-color: #d1bbbb;
}

.hyperlink {
    font-size: 14px;
    text-align: center;
}

.hyperlink a {
    color: #373234; /* Set the color for the hyperlink */
    text-decoration: none; /* Remove the underline if desired */
    font-weight: 500;
}

.hyperlink a:hover {
    color: #942e27; /* Change the color on hover */
    text-decoration: underline; /* Optionally underline on hover */
}

